<div class="rdy-header">
		<p class="rdy-header-left">
				<a href="javascript:;" onClick="javascript:history.back(-1);">
						<img src="assets/img/img/left.png" alt=""/>
				</a>
		</p>
		<p class="rdy-header-center">关于我们</p>
</div>
<!--<div class="about-sign">
    <img src="assets/img/logo_big.png" alt=""/>
</div>-->
<div class="about-btn">
		<p>
				“Green the future”是“儒道电子”的愿景，是一种企业通过绿色解决方案创新人们生活方式的态度，“儒道电子”企业LOGO中的那一棵生机勃勃的绿苗，也正是这种绿色创造精神的体现。

				“儒道电子”的企业文化秉承“天道酬勤，厚德载物”这八字真言。它要求每个儒道人会心领悟，并从一言一行开始，真正做到“知行合一”，将其融入工作，写入生活，最终以“知行合一”的方式达成“Green the future”的绿色愿景
		</p>

</div>