<div class="bind_phone_step1">
	<header class="ui-header ui-header-positive ui-border-b">
			<i class="ui-icon-return" onclick="history.back();"></i>
			<h1 class="head_name">绑定手机号</h1>
	</header>

	<section class="ui-container phone_bind_container">

			<section class="pwd_container">

					<div class="mxep_block bg_white">

							<div class="ui-input ui-border-radius user_verification_code">
									<input type="password" class="ui-txt-center pass_word" name="" value=""
												 placeholder="请输入6-15位密码" maxlength="15">
							</div>

							<div class="ui-input ui-border-radius user_verification_code">
									<input type="password" class="ui-txt-center repeat_pass_word" name="" value=""
												 placeholder="请输入6-15位密码" maxlength="15">
							</div>

					</div>

					<div class="mxep_block ui-justify ui-whitespace">

							<div class="ui-row ui-txt-center">

									<button class="ui-col ui-btn-lg ui-btn-danger f16 btn_sub">
											完成
									</button>

							</div>

					</div>

			</section>

	</section>

</div>