<div class="main-css">
		<header class="ui-header ui-header-positive ui-border-b">
				<i class="ui-icon-search good_search"></i>
				<h1>
						<i class="logo">
								<img src="../../assets/image/index/img_index_logo@2x.png">
						</i>
				</h1>
				<i class="icon_message"></i>
		</header>
		<section class="ui-container main_contain" style="float: left;width:100%;">


		</section>
</div>

<script id="main_item" type="text/template">
		<section class="mxep_block bg_white">

				<div class="swiper-container banner_img_list">
						<div class="swiper-wrapper">
								<%
								if(carouses && carouses.length > 0) {
								_.each(carouses,function(item){

								%>
								<div class="swiper-slide" data-href="<%=item.link%>">

			                        <span>
			                            <img src="../../assets/image/icon/ico_public_shoppingcart@2x.png" data-echo="<%=item.pic%>">
			                        </span>

								</div>
								<%});
								}%>
						</div>
						<!-- 如果需要分页器 -->
						<div class="swiper-pagination"></div>
						<!-- 如果需要导航按钮 -->
						<!--<div class="swiper-button-prev"></div>-->
						<!--<div class="swiper-button-next"></div>-->
						<!-- 如果需要滚动条 -->
						<!--<div class="swiper-scrollbar"></div>-->

				</div>


				<div class="ui-justify ui-whitespace">

						<ul class="ui-row ui-txt-center ui-border-b f12 tab_bar_list">

								<li class="ui-col ui-col-20 ui-txt-line-height-30"
										data-href="categor">
										<div class="ui-icon">
												<img src="../../assets/image/index/ico_index_sort@2x.png">
										</div>
										<div class="ui-txt-default text-tap">分类</div>
								</li>

								<li class="ui-col ui-col-20 ui-txt-line-height-30"
										data-href="specialGood">
										<div class="ui-icon">
												<img src="../../assets/image/index/ico_index_product@2x.png">
										</div>
										<div class="ui-txt-default">精选商品</div>
								</li>

								<li class="ui-col ui-col-20 ui-txt-line-height-30 "
										data-href="wheelprize">
										<div class="ui-icon">
												<img src="../../assets/image/index/ico_index_dream@2x.png">
										</div>
										<div class="ui-txt-default">梦想转盘</div>
								</li>

								<li class="ui-col ui-col-20 ui-txt-line-height-30"
										data-href="share">
										<div class="ui-icon">
												<img src="../../assets/image/index/ico_index_shaidan@2x.png">
										</div>
										<div class="ui-txt-default">晒单</div>
								</li>

								<li class="ui-col ui-col-20 ui-txt-line-height-30"
										data-href="sign">
										<div class="ui-icon">
												<img src="../../assets/image/index/ico_index_signin@2x.png">
										</div>
										<div class="ui-txt-default">签到</div>
								</li>
						</ul>

						<div class="ui-row  bonus_record_list_container">
								<i class="icon">
									<img src="../../assets/image/index/ico_index_speaker@2x.png">
								</i>

								<ul class="bonus_record_list ">
										<%
										if(rewards && rewards.length > 0) {
										_.each(rewards,function(item){

										%>
										<li class="ui-nowrap ui-whitespace">
												<span>恭喜</span>
												<span class="user_nickname"><%=item.nickname%></span>
												<span>获得</span>
												<span class="prize_name">
													<%=item.auction_name%>
												</span>
										</li>
										<%});
										}%>

								</ul>
						</div>

				</div>

		</section>

		<section class="mxep_block bg_white">
			<% if (typeof(section) != 'undefined') {  %>
				<div class="ui-row ui-whitespace ui-txt-line-height-50">

						<h2 class="discount_good_list" data-section="<%=section%>">
								<i class="icon_special_offer"></i>
								<%
								if( typeof(end_time)!="undefined" && end_time && current_time) {
								%>
								<span class="ui-txt-bold"><%=section_label%></span>
                    <span class="ui-txt-muted f16">
                        <span class="">距结束</span>
                        <span class="time_count_down" data-currenttime="<%=current_time%>" data-endtime="<%=end_time%>">09:23:11</span>
                    </span>
								<%}%>
                    <span class="f_right f14 flash_more" data-section="<%=section%>" style="margin-right: 25px;color:#f75549;">
                        更多
                    </span>
								<i class="ui-icon-arrow flash_more" data-section="<%=section%>" style="position: absolute;right:15px;top:3px;color: #f75549;"></i>
						</h2>

				</div>

				<ul class="ui-grid-trisect special_offer_good_list" style="padding-top: 0;">
						<%
						if(flash_sales && flash_sales.length > 0) {
						var i = 0;
						_.each(flash_sales,function(item){
						if(i < 3){
						%>

						<li data-id="<%=item.flash_goods_id%>">
								<div class="ui-grid-item">
										<div class="ui-grid-trisect-img">
												<!-- <span style="background-image:url(http://placeholder.qiniudn.com/190x284)"></span> -->
												<img src="../../assets/image/icon/ico_public_shoppingcart@2x.png"
														 data-echo="<%=item.thumb%>">
										</div>
										<div class="ui-txt-center ui-txt-line-height-40" style="font-size: 0.8em;">
												<span class="deal_price" data-price="<%=item.price%>">
														￥<%=item.price%>
												</span>
												<span class="marketed_price ui-txt-muted" data-price="<%=item.origin_price%>">
														￥<%=item.origin_price%>
												</span>
										</div>
								</div>
						</li>
						<% }i++;
						});
						}%>
				</ul>

			<% } %>
		</section>

		<section class="mxep_block mxep_block_bottom duobao_container" style="font-size: 0.9em;">

				<div class="ui-row ui-whitespace ui-txt-center ui-txt-line-height-50 bg_white
             announced_type_list">

                <span class="ui-col ui-col-25 icon_img_1 active" data-type="1" data-direction="1">
                    人气
                </span>

                <span class="ui-col ui-col-25 icon_img_2" data-type="2" data-direction="1">
                    最新
                </span>

                <span class="ui-col ui-col-25 icon_img_3" data-type="3" data-direction="1">
                    进度
                </span>

                <span class="ui-col ui-col-25 icon_img_4" data-type="4" data-direction="2">
                    总需
										<span class="icon_sort">
												<i class="sort_up"></i>
												<i class="sort_down"></i>
										</span>
                </span>

				</div>

				<ul class="ui-grid-halve announced_good_list" style="padding-top: 0;">
						<%
						if(auctions && auctions.data.length > 0) {
						_.each(auctions.data,function(item){
						var percentage = (item.sale_count/item.target*100).toFixed(0) + "%";
						%>
						<li class="" data-id="<%=item.id%>">
								<div class="bg_white ui-grid-item" data-id="<%=item.id%>">

										<div class="ui-grid-trisect-img">
												<img src="../../assets/image/icon/ico_public_shoppingcart@2x.png" data-echo="<%=item.thumb%>">
												<span class="ui-txt-center f18 ui-txt-white ui-txt-bold special_offer_area "><%=item.label%></span>
										</div>

										<div class="ui-txt-line-height-30 ui-nowrap-multi ui-whitespace good_name" >
												<%=item.name%>
										</div>

										<div class="good_process">
												<div class="ui-row ui-txt-line-height-25 f14">
														<span class="ui-txt-muted">揭晓进度</span>
														<span class="ui-txt-red-1" data-process="50"><%=percentage%></span>
												</div>
												<div class="ui-progress">
														<span style="width:<%=percentage%>"></span>
												</div>
										</div>

										<div class="icon_shopping_cart add_to_shopping_cart">
												<img src="../../assets/image/ico_public_shoppingcart@2x.png">
										</div>

								</div>
						</li>
						<% });
						}%>

				</ul>

		</section>

</script>
<script id="announced_good_item" type="text/template">

		<%
		if(data && data.length > 0) {
		_.each(data,function(item){
		var percentage = (item.sale_count/item.target*100).toFixed(0) + "%";
		%>
		<li class="" data-id="<%=item.id%>">
				<div class="bg_white ui-grid-item" data-id="<%=item.id%>">

						<div class="ui-grid-trisect-img">
								<img src="../../assets/image/icon/ico_public_shoppingcart@2x.png" data-echo="<%=item.thumb%>">

								<%
								if(item.label=="一元商品"){
								%>

								<%
								}
								else if(item.label=="十元商品"){
								%>
								<span class="ui-txt-center f18 ui-txt-white ui-txt-bold special_offer_area ten_area"><%=item.label%></span>
								<%
								}
								else if(item.label=="百元商品"){
								%>
								<span class="ui-txt-center f18 ui-txt-white ui-txt-bold special_offer_area "><%=item.label%></span>
								<%
								}
								%>

						</div>

						<div class="ui-txt-line-height-30 ui-nowrap-multi ui-whitespace good_name">
								<%=item.name%>
						</div>

						<div class="good_process">
								<div class="ui-row ui-txt-line-height-25 f14">
										<span class="ui-txt-muted">揭晓进度</span>
										<span class="ui-txt-red-1" data-process="50"><%=percentage%></span>
								</div>
								<div class="ui-progress">
										<span style="width:<%=percentage%>"></span>
								</div>
						</div>

						<div class="icon_shopping_cart add_to_shopping_cart">
								<img src="../../assets/image/ico_public_shoppingcart@2x.png">
						</div>

				</div>
		</li>
		<% });
		}%>
</script>
