
<div class="my-wish-css">
<header class="ui-header ui-header-css ui-header-positive ui-border-b">

		<i class="ui-icon-return" onclick="history.back();"></i>
		<h1 class="ui-txt-default name">我的心愿</h1>

</header>

<section class="ui-container ui-content">

		<section class="mxep_block">

				<div class="ui-all-whitespace bg_white ui-margin-b-20 wish_info">

						<div class="ui-border-radius-3 wish_item">
								<input type="text" name="" value="" class="ui-input wish_name" placeholder="输入心愿商品名称">
						</div>

						<div class="ui-border-radius-3 wish_item">
								<input type="text" name="" value="" class="ui-input wish_url" placeholder="商品链接地址(选填)">
						</div>

						<div class="ui-border-radius-3 wish_item">
								<textarea class="ui-textarea ui-txt-line-height-30 wish_desc"
													placeholder="描述商品规格、颜色及要求(100字以内)" maxlength="100"></textarea>
						</div>

				</div>

				<div class="bg_white ui-all-whitespace wish_good_img_list">
						<div class="img_add"></div>
				</div>

				<div class="ui-txt-line-height-44 ui-txt-center ui-txt-white ui-width-8 bg-orange
				ui-border-radius-3 btn_submit">提交</div>

		</section>

</section>
</div>