<div class="save-nick-name-css">
	<header class="ui-header ui-header-css ui-header-positive ui-border-b">

			<i class="ui-icon-return category-good-back" onclick="history.back();"></i>
			<h1 class="ui-txt-default name">昵称</h1>
			<div class="btn_save">保存</div>

	</header>


	<section class="ui-container ui-content">

			<section class="mxep_block">

					<div class="bg_white ui-margin-t-20">
							<input class="ui-input user_nickname" placeholder="请输入昵称">
					</div>

			</section>

	</section>

</div>
