<div class="points-remark-css">
		<header class="ui-header ui-header-positive ui-border-b">

				<i class="ui-icon-return" onclick="history.back();"></i>
				<h1 class="ui-txt-default name">积分说明</h1>

		</header>

		<section class="ui-container ui-content">

				<!--<section class="mxep_block integral_eplain_contain">-->


				<!--</section>-->

		</section>
</div>

<style>
		.points-remark-css .ui-container {
				padding: 10px;
		}
</style>

<!--<script id="integral_eplain_item" type="text/template">-->

<!--<% if(_.size(data) > 0) {-->
<!--_.each(data,function(item){%>-->

<!--<div class="ui-all-whitespace bg_white ui-margin-b-20">-->
<!--<div class="ui-txt-line-height-40">-->
<!--<%=item.question%>？-->
<!--</div>-->

<!--<div class="ui-txt-line-height-25 f14 ui-txt-muted">-->
<!--答：<%=item.answer%>-->
<!--</div>-->

<!--</div>-->

<!--<%})}%>-->
<!---->
<!--</script>-->