<div class="pwd-modify-css">
	<header class="ui-header ui-header-css ui-header-positive ui-border-b">

			<i class="ui-icon-return category-good-back" onclick="history.back();"></i>
			<h1 class="ui-txt-default name">密码修改</h1>

	</header>


	<section class="ui-container ui-content">

			<section class="mxep_block">

					<ul class="ui-list ui-list-pure">

							<li class="ui-txt-line-height-36 ui-border-b">
									<span class="ui-txt">当前密码</span>
									<span class="ui-txt-info">
											<input class="ui-input old_pwd current_password" placeholder="6-15位字符" maxlength="15" type="password">
									</span>
							</li>

							<li class="ui-txt-line-height-36 ui-border-b">
									<span class="ui-txt">新密码</span>
									<span class="ui-txt-info">
											<input class="ui-input new_pwd new_password" placeholder="6-15位字符" maxlength="15" type="password">
									</span>
							</li>

							<li class="ui-txt-line-height-36 ">
									<span class="ui-txt">确认密码</span>
									<span class="ui-txt-info">
											<input class="ui-input pwd_sure confirm_password" placeholder="6-15位字符" maxlength="15" type="password">
									</span>
							</li>

					</ul>

					<div class="ui-width-8 ui-txt-line-height-44 bg-orange ui-txt-white ui-txt-center
					 ui-border-radius-3 btn_submit">完成
					</div>

			</section>

	</section>

</div>
