
<div class="resell-store-detail-css">
	<section class="ui-container ui-content">

			<section class="mxep_block good_info_container" style="display: block;">

					<i class="ui-icon-return" onclick="history.back();"></i>
					<i class="ui-icon-share"></i>

					<div class="swiper-container good_img_list">
							<div class="swiper-wrapper">

									<div class="swiper-slide">

											<span class="item">
													<img src="assets/image/1.png">
											</span>

									</div>

									<div class="swiper-slide">

											<span class="item">
													<img src="assets/image/2.png">
											</span>

									</div>

									<div class="swiper-slide">

											<span class="item">
													<img src="assets/image/3.png">
											</span>

									</div>

									

							</div>
							<!-- 如果需要分页器 -->
							<div class="swiper-pagination"></div>
					</div>

					<div class="ui-all-whitespace bg_white ui-txt-line-height-24 ui-margin-b-20 good-info">

							<h4 class="ui-nowrap-multi f16 good_name">这是标题，加ui-nowrap可以超出长度截断</h4>

							<div class="good_price">

									<span class="f16 ui-txt-line-height-30 good_deal_price">
											3600 梦想币
									</span>

									<div class="ui-row f12">

											<span class="txt">秒杀</span>
											<span class="ui-txt-muted">
													比市场价省
													<label>2100</label>
													元
											</span>

									</div>

							</div>

							<div class="ui-txt-line-height-40 ui-txt-center ui-txt-white-9 ui-margin-t
											 btn_panic_buying">
									立即抢购
							</div>

					</div>

					<div class="ui-all-whitespace ui-margin-b-20 bg_white good_img_txt_info">

							<h1 class=" ui-txt-line-height-50">图文详情</h1>

							<div class="ui-txt-line-height-20  f14 ui-margin-b">
									<!--<div>1.抢购需在开抢前支付10梦想币获取抢购权；</div>-->
									<!--<div>2.未达到制定人数，取消该商品抢购，退还梦想币；</div>-->
									<!--<div>3.未抢购到商品退还梦想币；</div>-->
							</div>

					</div>


			</section>

	</section>
</div>