
<div class="resell-store-css">
	<header class="ui-header ui-header-positive ui-border-b">

			<i class="ui-icon-return" onclick="history.back();"></i>
			<h1 class="ui-txt-default name">转卖商城</h1>

	</header>

	<section class="ui-container ui-content">

			<section class="mxep_block">

					<ul class="ui-list  ui-border-tb good_list">

							<li class="ui-border-b" data-id="1">

									<div class="ui-list-img">
											<span class="good_img"
														style="background-image:url(http://placeholder.qiniudn.com/200x136)"></span>
									</div>

									<div class="ui-list-info">

											<h4 class="ui-nowrap-multi f14 good_name">这是标题，加ui-nowrap可以超出长度截断</h4>

											<div class="ui-txt-line-height-30 good_price">
													<span class="f18 ui-txt-bold good_deal_price">
															￥3600
													</span>

													<span class="f14 ui-txt-muted good_marketed_price">
															省
															￥1200
													</span>

											</div>

											<div class="ui-txt-line-height-40 ui-txt-center ui-txt-white-9 ui-margin-t
											 btn_buy">
													立即购买
											</div>

									</div>
							</li>

							<li class="ui-border-b" data-id="2">

									<div class="ui-list-img">
											<span class="good_img"
														style="background-image:url(http://placeholder.qiniudn.com/200x136)"></span>
									</div>

									<div class="ui-list-info">

											<h4 class="ui-nowrap-multi f14 good_name">这是标题，加ui-nowrap可以超出长度截断</h4>

											<div class="ui-txt-line-height-30 good_price">
													<span class="f18 ui-txt-bold good_deal_price">
															￥3600
													</span>

													<span class="f14 ui-txt-muted good_marketed_price">
															省
															￥1200
													</span>

											</div>

											<div class="ui-txt-line-height-40 ui-txt-center ui-txt-white-9 ui-margin-t
											 btn_buy">
													立即购买
											</div>

									</div>
							</li>

							<li class="ui-border-b" data-id="3">

									<div class="ui-list-img">
											<span class="good_img"
														style="background-image:url(http://placeholder.qiniudn.com/200x136)"></span>
									</div>

									<div class="ui-list-info">

											<h4 class="ui-nowrap-multi f14 good_name">这是标题，加ui-nowrap可以超出长度截断</h4>

											<div class="ui-txt-line-height-30 good_price">
													<span class="f18 ui-txt-bold good_deal_price">
															￥3600
													</span>

													<span class="f14 ui-txt-muted good_marketed_price">
															省
															￥1200
													</span>

											</div>

											<div class="ui-txt-line-height-40 ui-txt-center ui-txt-white-9 ui-margin-t
											 btn_buy">
													立即购买
											</div>

									</div>
							</li>

							<li class="ui-border-b" data-id="4">

									<div class="ui-list-img">
											<span class="good_img"
														style="background-image:url(http://placeholder.qiniudn.com/200x136)"></span>
									</div>

									<div class="ui-list-info">

											<h4 class="ui-nowrap-multi f14 good_name">这是标题，加ui-nowrap可以超出长度截断</h4>

											<div class="ui-txt-line-height-30 good_price">
													<span class="f18 ui-txt-bold good_deal_price">
															￥3600
													</span>

													<span class="f14 ui-txt-muted good_marketed_price">
															省
															￥1200
													</span>

											</div>

											<div class="ui-txt-line-height-40 ui-txt-center ui-txt-white-9 ui-margin-t
											 btn_buy">
													立即购买
											</div>

									</div>
							</li>

					</ul>

			</section>

	</section>
</div>