
.f_left {
	float: left;
}

.f_right {
	float: right;
}

.ui-txt-bold {
	font-weight: bold;
}

/*大小*/

.f12 {
	font-size: 12px;
}

.f14 {
	font-size: 14px;
}

.f16 {
	font-size: 16px;
}

.f18 {
	font-size: 18px;
}

.f20 {
	font-size: 20px;
}

.f22 {
	font-size: 22px;
}

.f24 {
	font-size: 24px;
}

/*行高*/

.ui-txt-line-height-20 {
	line-height: 20px;
}

.ui-txt-line-height-24 {
	line-height: 24px;
}

.ui-txt-line-height-25 {
	line-height: 25px;
}

.ui-txt-line-height-30 {
	line-height: 30px;
}

.ui-txt-line-height-35 {
	line-height: 35px;
}

.ui-txt-line-height-36 {
	line-height: 36px;
}

.ui-txt-line-height-40 {
	line-height: 40px;
}

.ui-txt-line-height-44 {
	line-height: 44px;
}

.ui-txt-line-height-50 {
	line-height: 50px;
}

.ui-txt-line-height-56 {
	line-height: 56px;
}

/*颜色*/

.ui-txt-red-1 {
	color: #f75549;
}

.ui-txt-grey-1 {
	color: rgba(0, 0, 0, 0.1);
}

.ui-txt-grey-4 {
	color: rgba(0, 0, 0, 0.4);
}

.ui-txt-grey-6, .clr-grey-6 {
	color: rgba(0, 0, 0, 0.6);
}

.clr-grey-8 {
	color: rgba(0, 0, 0, 0.8);
}

.clr-green {
	color: #3ec674;
}

.ui-txt-white {
	color: #fff;
}

.ui-txt-white-9 {
	color: rgba(255, 255, 255, 0.9);
}

.ui-txt-pink, .clr-pink {
	color: #ff5265;
}

.ui-txt-clr-ff6e2b, .clr-orange {
	color: #ff6e2b;
}
