.order_list li {
	margin: 0;
}

.order_list li .good_name {
	width: calc(100% - 60px);
}

.order_list li .attend_count {
	width: 60px;
	text-align: center;
}

.btn_submit {
	line-height: 30px;
	position: absolute;
	top: 13px;
	right: 20px;
	padding: 0 18px;
}